body{
  margin: 0;
}
img{
  max-width: 100%;
  display: none;
}
h3{
  margin: 0 0 10px;
}
.alert{
  background: #056fff;
  width: 30%;
  height: 10%;
  border-radius: 5px;
  color: white;
  font-family: sans-serif;
  position: fixed;
  padding: 10px;
  box-shadow: 3px 5px 10px #111;
  z-index: 4;
  bottom: 130vh;
  left: 50%;
  transform: translate(-50%);
  transition: .3s;
}
span{
  display: block;
  margin: 5px 0;
}
button{
  width: 60px;
  height: 36px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 5px;
  background: transparent;
  color: white;
  border: 1.5px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
  box-sizing: border-box;
}
button:hover{
  background: #fff;
  color: #056fff;
}
.active {
  bottom: 50vh;
}
.dark{
  background: #333;
}
.container{
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 3;
  transition: .2s;
}
@media screen and (max-width: 1023px) {
  .alert{
    width: 60%;
  }
}
